/** Estilos Gerais **/

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-top: 20px;
}

/* Sticky Footer */

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 274px;
}

@media(max-width: 767.98px){
    body {
        margin-bottom: 623px; /* Margin bottom by footer height */
    }
    .footer{
        height: 623px;
    }
}

/* Footer Links */
.footer-link{
    color: rgba(255, 255, 255, 0.5)
}

.footer-link:hover{
    color: rgba(255, 255, 255, 0.75);
}

/** Formulário de Cadastro de Hóspedes **/

/* Validações - Estilos Básicos */
#cadastro input.error, #cadastro textarea.error, #cadastro select.error {
    border: 1px solid #ff0000 !important;
}

#cadastro .form-group label.error {
    font-size: 10px;
    color: #ff0000;
}

@media(max-width: 575.98px){
    .cadastroBtn{width:100%;}
}

/** Formulário de Reservas  **/

.nomeHotelPrepend img{max-width: 23px;}
.vigencia{display: flex; flex-direction: column;}
.box{display: flex; flex-direction: row; align-items: center;}
.vigenciaEntrada{margin: 0px 10px 0px 0px;}

@media(max-width: 991.98px){
    .nomeHotelPrepend img{max-width: 20px;}
}

@media(max-width: 575.98px){
    .box{flex-direction:column; align-items: flex-start;}
    .reservaBtn{width:100%;}
    .vigenciaEntrada{margin: 0px 0px 16px 0px;}
}

@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Lato:700,300);

  .tag-body {
    margin-left: 0;
    flex: 1 1 0%;
    display: inline-block;
    height: 100%;
    margin: 0 0 8px 8px;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    background: #fff;
    padding-bottom: 0;
    text-align: left;
    font-size: inherit;
    font-family: inherit;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    min-width: 260px;  
    max-width: 100px;
}

.tag-border {
    margin-left: 6px;
    border-left-width: 0;
    height: 100%;
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    position: relative;            
}

.reserva {
    border-color: #F2B203;
    box-shadow: -6px 0 0 #F2B203;
    border: 1px solid #F2B203;
}

.info {
    border-color: #F2B203;
    box-shadow: -6px 0 0 #F2B203;
    border: 1px solid #F2B203;
}

.hospedes {
    border-color: #8c8c8c;
    box-shadow: -6px 0 0 #8c8c8c;
    border: 1px solid #8c8c8c;
}

.hospede {
    border-color: #8C77D3;
    box-shadow: -6px 0 0 #8C77D3;
    border: 1px solid #8C77D3;
    cursor: pointer;
}

.check-in {
    border-color: #00AA6C;
    box-shadow: -6px 0 0 #00AA6C;
    border: 1px solid #00AA6C;
}

.check-out {
    border-color: #CC0000;
    box-shadow: -6px 0 0 #CC0000;
    border: 1px solid #CC0000;
}

.informacoes {
    border-color: #228AE6;
    box-shadow: -6px 0 0 #228AE6;
    border: 1px solid #228AE6;
}

.sem-nome {
    border-color: #CC0000;
    box-shadow: -6px 0 0 #CC0000;
    border: 1px solid #CC0000;
}

.tag-title {
    margin-bottom: 2px;
    font-size: .75em;
    line-height: normal;
    color: #474747;    
}
.tag-content {
    /* cursor: pointer; */
    display: block;
    text-align: left;
    padding: 4px;
}
.tag-description {
    display: block;
    font-size: .8125em;
    font-weight: 700;
    line-height: 20px;
}

.btn-box {
    padding: 5px;
}

.form-group {
    margin-left: -16px;
}